
DB_NAME=ledgerflow
DB_USER=ledgerflow_user
DB_PASSWORD=CHANGE_ME_strong_password_here
DB_CONNECTION_STRING=Host=db;Port=5432;Database=ledgerflow;Username=ledgerflow_user;Password=CHANGE_ME_strong_password_here;

# Redis
REDIS_PASSWORD=CHANGE_ME_redis_password_here
REDIS_CONNECTION_STRING=redis:6379,password=CHANGE_ME_redis_password_here

# ASP.NET Core Development | Staging | Production
ASPNETCORE_ENVIRONMENT=Development
